container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && cd /var/app/current && python manage.py migrate --noinput"
    leader_only: true
    ignoreErrors: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && cd /var/app/current && python manage.py collectstatic --noinput"
    leader_only: true
    ignoreErrors: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "railmadad.settings"
    PYTHONPATH: "/var/app/current"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "application:application"